/*
Theme Name: Leos Landing Pages
Theme URI: http://www.leos.co.il
Author: Dror Seltzer
Author URI: ttp://www.leos.co.il
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: leoslanding
*/

body{
  font-family: 'almoni';
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'almoni' !important;
}

p,
span,
li,
input,
button{
  font-family: 'almoni' !important;
}

.flexer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flexer > .wpcf7-form-control-wrap{
  width: 33%;
}
.wpcf7-form-control-wrap{
  position: relative;
  display: inherit;
}
div.wpcf7-validation-errors {
    display: none !important;
}
span.wpcf7-not-valid-tip{
  position: absolute;
  top: 3%;
  left: 5%;
  font-size: 3rem;
}
.wpcf7-submit{
  background-image: url('assets/image/forma-1.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 20% center;
  transition: .2s;
}

.elementor-widget-image .elementor-image>a[target="_blank"]::before {
  content: "";
  display: none;
}
.elementor-widget-image .elementor-image>a::before {
  opacity: 0;
  content: "+";
  height: 100%;
  width: 100%;
  background-color: rgba(198,33,39,0.75);
  justify-content: center;
  display: flex;
  position: absolute;
  color: white;
  font-size: 80px;
  align-items: center;
  transition: .2s ease;
}
.elementor-widget-image .elementor-image>a:hover::before {
  opacity: 1;
}

@media only screen and (max-width: 700px) {
  .elementor-81 .elementor-element.elementor-element-6aba626{
    background-image: none !important;
  }
  .wpcf7-submit{
    background-position: 2% center;
    font-size: 1.2rem !important;
  }
  .flexer{
    display: block;
  }
  .flexer > .wpcf7-form-control-wrap{
    width:100%;
  }
}
